<main>
    <h1>Create Profile</h1>
    <form action="/profile" method="POST">
        <label for="weight">Weight (lb): </label>
        <input min="0" type="number" id="weight" name="weight">

        <label for="age">Age: </label>
        <input min="0" type="number" id="age" name="age">

        <label for="height">Height (cm): </label>
        <input min="0" type="number" id="height" name="height">

        <br>
        <label for="goals">Fitness Goals: </label>
        <textarea id="goals" name="goals" rows="10" cols="30"></textarea>

        <br>
        <input type="submit" value="Submit">
    </form>
</main>
</html>