<form action="/profile" method="POST">
  <div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Create Profile</h2>

    <div class="sm:col-span-4">
      <label htmlFor="weight" class="block text-sm font-medium leading-6 text-gray-900">
        Weight (lb)
      </label>
      <div class="mt-2">
        <input id="weight" name="weight" type="number" min="0"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
      </div>
    </div>

    <div class="sm:col-span-4">
      <label htmlFor="age" class="block text-sm font-medium leading-6 text-gray-900">
        Age
      </label>
      <div class="mt-2">
        <input id="age" name="age" type="age" min="0"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
      </div>
    </div>

    <div class="sm:col-span-4">
      <label htmlFor="height" class="block text-sm font-medium leading-6 text-gray-900">
        Height (cm)
      </label>
      <div class="mt-2">
        <input id="height" name="height" type="number" min="0"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
      </div>
    </div>
  </div>
  </div>
</form>