<form id="form" class="space-y-8 " action="/plan" method="POST">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Create Plan</h2>
  <fieldset>
    <legend class="text-sm font-semibold leading-6 text-gray-900">Plan Duration</legend>
    <p class="mt-1 text-sm leading-6 text-gray-600">How long would you like the plan to be?</p>

    <div class="mt-6 space-y-6">
      <div class="flex items-center">
        <input id="duration1" name="duration" type="radio" value=4
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="duration1" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          4 weeks
        </label>
      </div>

      <div class="flex items-center">
        <input id="duration2" name="duration" type="radio" value=8
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="duration2" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          8 weeks
        </label>
      </div>

      <div class="flex items-center">
        <input id="duration3" name="duration" type="radio" value=12
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="duration3" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          12 weeks
        </label>
      </div>

      <div class="flex items-center">
        <input id="duration4" name="duration" type="radio" value=16
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="duration4" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          16 weeks
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="text-sm font-semibold leading-6 text-gray-900">workouts Per Week</legend>
    <p class="mt-1 text-sm leading-6 text-gray-600">How many times a week do you want to exercise?</p>

    <div class="mt-6 space-y-6">
      <div class="flex items-center">
        <input id="workout1" name="workout" type="radio" value=1
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="workout1" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          1
        </label>
      </div>

      <div class="flex items-center">
        <input id="workout2" name="workout" type="radio" value=2
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="workout2" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          2
        </label>
      </div>

      <div class="flex items-center">
        <input id="workout3" name="workout" type="radio" value=3
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="workout3" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          3
        </label>
      </div>

      <div class="flex items-center">
        <input id="workout4" name="workout" type="radio" value=4
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="workout4" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          4
        </label>
      </div>
  </fieldset>


  <fieldset>
    <legend class="text-base font-semibold leading-6 text-gray-900">Exercises</legend>

    <div class="mt-4 divide-y divide-gray-200 border-b border-t border-gray-200">
      <div class="relative flex items-start py-4">
        <div class="min-w-0 flex-1 text-sm leading-6"><label class="select-none font-medium text-gray-900"
            for="exercise1">Cardio</label></div>
        <div class="ml-3 flex h-6 items-center">
          <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" type="checkbox"
            id="exercise1" name="exercises" value="Cardio">
        </div>
      </div>

      <div class="relative flex items-start py-4">
        <div class="min-w-0 flex-1 text-sm leading-6"><label class="select-none font-medium text-gray-900"
            for="exercise2">Weight training</label></div>
        <div class="ml-3 flex h-6 items-center">
          <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" type="checkbox"
            id="exercise2" name="exercises" value="Weight training">
        </div>
      </div>

      <div class="relative flex items-start py-4">
        <div class="min-w-0 flex-1 text-sm leading-6"><label class="select-none font-medium text-gray-900"
            for="exercise3">Bodyweight training</label></div>
        <div class="ml-3 flex h-6 items-center">
          <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" type="checkbox"
            id="exercise3" name="exercises" value="Bodyweight training">
        </div>
      </div>

      <div class="relative flex items-start py-4">
        <div class="min-w-0 flex-1 text-sm leading-6"><label class="select-none font-medium text-gray-900"
            for="exercise4">Stretch exercises</label></div>
        <div class="ml-3 flex h-6 items-center">
          <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" type="checkbox"
            id="exercise4" name="exercises" value="Flexibility">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="text-sm font-semibold leading-6 text-gray-900">Fitness Goals</legend>
    <p class="mt-1 text-sm leading-6 text-gray-600">What are you aiming to accomplish with this plan?</p>

    <div class="mt-6 space-y-6">
      <div class="flex items-center">
        <input id="goal1" name="goal" type="radio" value="be healthy"
          class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
        <label htmlFor="goal1" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
          Be healthy
        </label>
      </div>

      <div class="mt-6 space-y-6">
        <div class="flex items-center">
          <input id="goal2" name="goal" type="radio" value="lose weight/fat"
            class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
          <label htmlFor="goal2" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
            Lose weight/fat
          </label>
        </div>

        <div class="mt-6 space-y-6">
          <div class="flex items-center">
            <input id="goal3" name="goal" type="radio" value="gain weight/muscle"
              class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <label htmlFor="goal3" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
              Gain weight/muscle
            </label>
          </div>

          <div class="mt-6 space-y-6">
            <div class="flex items-center">
              <input id="goal4" name="goal" type="radio" value="lose fat and gain muscle"
                class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
              <label htmlFor="goal4" class="ml-3 block text-sm font-medium leading-6 text-gray-900">
                Lose fat and gain muscle
              </label>
            </div>
  </fieldset>

  <button onclick="toggleLoader()" type="submit"
    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    Submit</button>
</form>

<script type="text/javascript">
  const loader = document.getElementById("loaderBody");
  const form = document.getElementById("form");

  function toggleLoader() {
    loader.classList.remove("hidden");
    loader.classList.add("flex");
    form.classList.add("hidden");
  }
</script>